@model V.Test.Web.App.Entities.Address 


<div class="row">
    <div class="col-md-12">
        
            
                <h4><strong>Address</strong></h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AddressLine1)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AddressLine1)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AddressLine2)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AddressLine2)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AddressLine3)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AddressLine3)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AddressLine4)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AddressLine4)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Town)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Town)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Postcode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Postcode)
                    </dd>
                  

                </dl>
            </div>
        </div>
 