@model V.Test.Web.App.ViewModels.AddressViewModel

@{
    ViewData["Title"] = "View";
}
 

<div>
    <h4>View Address </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id   }) |
    <a asp-action="List">Back to List</a>
</div>
