@model V.Test.Web.App.ViewModels.AddressViewModel

@{
    ViewData["Title"] = "View";
}
 

<div>
    <h4>View Address </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Postcode)
        </dd>
      

    </dl>
</div>
<div>

    <a asp-action="List" class="btn btn-success    mr-1">Back</a>
    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-success   mr-1">Edit</a>
</div>
