@model IEnumerable<V.Test.Web.App.ViewModels.OrganisationViewModel>

@{
    ViewData["Title"] = "List";
}

<h3>List Organisation</h3>

<p>
    <a asp-action="Index" class="btn btn-success   pull-right mr-1">Create New Organisation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OrganisationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganisationNumber)
            </th>

            
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganisationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganisationNumber)
                </td>

                
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>

                <td>
                    <a asp-action="View" asp-route-id="@item.Id" class="btn btn-success  mr-1 pull-left ">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger  pull-right  ">Del.</a>

                </td>
            </tr>
        }
    </tbody>
</table>
